LINE_CHANNEL_SECRET_CUSTOMER=your_customer_secret_here
LINE_CHANNEL_ACCESS_TOKEN_CUSTOMER=your_customer_token_here
LINE_CHANNEL_SECRET_THERAPIST=your_therapist_secret_here
LINE_CHANNEL_ACCESS_TOKEN_THERAPIST=your_therapist_token_here
